<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<HTML xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tienda Cosmeticos Grupo 03</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
         
    </head>
    <body>
       
       
        <h2>[Informacion de Usuarios</h2>
        <a th:href="@{/usuarios/nuevo}">Nuevo Usuario</a>
        <div th:if="${usuarios !=null and !usuarios.empty}">
        
        <table border ="1">
            <thead>
            <tr>
                <th>Nombre Usuario</th>
                <th>email </th>
                <th>Eliminar </th>
                <th>Modificar</th>
                  </tr>
                  </thead> 
                  <tbody>
                  <tr th:each="usuarios: ${usuarios}"> 
                      <td>[[${usuario.idUsuario}]]</td>
                     <td style"text-align: center"> 
                     
                      <td><a th:href="@{/usuarios/modificar/} +${usuarios.idUsuarios}">Modificar</td>
                      <td><a th:href="@{/usuarios/eliminar} +${usuarios.idUsuarios}">Eliminar</td>
                  </tr>
                  </body>
                
        </table>
    </div>
           </div>
          <div th:if="${usuarios==null or usuarios.empty}">
          <h2>No hay nada para mostrar </h2>
        
        </div> 
           <footer> DERECHOS RESERVADOS <footer/>
    </body>
</html>
