<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
@SpringBootApplication
<HTML xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tienda de Cosmeticos grupo 03</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    </head>
    <body>
        
        <h2>Datos de los Usuarios</h2>
      
        <a th:href="@{/usuarios/listado}"></a>
          <hr/>
            <form th:action="@{/usuarios/guardar}"
                method="post"
                th:object="${usuarios}">
                
              
               
                        <fieldset> 
                <label for="nombre de Usuario">[[#{usuarios.id_usuario}]]</label> 
                <input type="text " name="nombre de usuario" th:field="*{id_usuario}"/>
                </fieldset>
                
             
                <fieldset>
                <label for="email">[[#{usuarios.email}]]</label> 
                <input type="email " name="correo" th:field="*{correo}"/>
                 </fieldset>
           
                <button type ="submit" name="guardar" value="Guardar"/>
                
            </form>
        </div>
        <footer> DERECHOS RESERVADOS <footer/>
    </body>
</html>
